#--------------------------------
# Ignore invisible files/folders
#--------------------------------
.*
!.git*

.git/

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
ehthumbs.db
Thumbs.db
