.Buttons_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.separatorFont{
    color: #F0F0F0;
	font-family: System Font Regular;
	font-size: 11px;
}


.label {
	font-family: System Font Regular;
	font-size: 11px;
}
.widget {
	font-family: System Font Regular;
	font-size: 11px;
}

@media (prefers-color-scheme: dark){

	.separatorFont{
		color: #101010;
		font-family: System Font Regular;
		font-size: 11px;
	}

}