.Buttons_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.separatorFont{
    stroke: #383838;
	font-family: System Font Regular;
	font-size: 11px;
}

.label {
	font-family: System Font Regular;
	font-size: 11px;
}

.tabLabel {
	font-family: System Font Regular;
	font-size: 13px;
}

.widget {
	font-family: System Font Regular;
	font-size: 11px;
}

@media (prefers-color-scheme: dark){

	.separatorFont{
		stroke: #F0F0F0;
		font-family: System Font Regular;
		font-size: 11px;
	}

}
